# Ignore anything in the build directory (for jshint output, specs, coverage, etc.)
build

# Ignore anything in the dist directory (for built outputs for website)
dist

# Ignore log files
*.log

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# node-waf configuration
.lock-wscript

